@import './../../_styles/colors.scss';
@import './../../_styles/font.scss';

$pseudo-el-size: 8px;
$scrollbar-color: #0E141A1A;
$avatar-margin: 24px;
$avatar-width: 40px;

.content-wrapper {
  display: flex;
  height: 100%;
}

.chat-wrapper {
  width: 58%;
  height: 55%;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 6px $right-chat-color;
  .asdomar {
    display: flex;
    flex-direction: column;
    app-chat-message {
      width: 75%;
    }
    &.right-align {
      align-items: flex-end;
    }
    &.left-align {
      align-items: flex-start;
    }
  }
}

#chat-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  margin: auto;
  height: 78%;
  overflow-y: scroll;
  padding: 1em $avatar-margin;
  mask-image: linear-gradient(to bottom, transparent 5%, black 25%);
  width: 100%;
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $scrollbar-color; 
    border-radius: 10px;
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $message-timestamp-color; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: darken($scrollbar-color, 5%); 
  }
}

#input-wrapper {
  background-color: $left-chat-color;
  padding: 10px 20px 8px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0%;
  input[type=text] {
    width: 100%;
    height: 48px;
    padding: 16px 20px;
    border: 1px solid $right-chat-color;
    border-radius: 3px;
    &::placeholder {
      color: $placeholder-color;
      font: $placeholder-font;
    }    
  }
  .button-div {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    button {
      margin: auto 0;
      width: 90px;
      height: 35px;
      border: none;
      border-radius: 4px;
      background-color: $button-color;
      color: white;
      font: $button-font;
      cursor: pointer;
      &:disabled {
        cursor: unset;
        opacity: 0.7;
      }
    }
  }
}