<div class="content-wrapper">
  <div class="chat-wrapper">
    <div #chatContainer id="chat-container">
      <div class="asdomar" *ngFor="let message of chat.messages | filterByUser: senderFilter; let i = index" [ngClass]="currentUser.id == message.from ? 'right-align' : 'left-align'">
        <app-chat-message [message]="message" [users]="users" [currentUser]="currentUser" [index]="i" (emitSenderId)='setSenderId($event)'></app-chat-message>
      </div>
    </div>
    <form id="input-wrapper" #f="ngForm" (submit)="pushMessage(f)">
      <input [ngModel] name="newMsg" required type="text" placeholder="Enter note about the process" autocomplete="off">
      <div class="button-div">
        <button type="submit" [disabled]="f.invalid">Publish</button>
      </div>
    </form>
  </div>
</div>